.App {
  text-align: center;
}

body{
  background-color:#FF9900;
}

.headerh1{
  background-color:#783F04;
  color:white;
  border:1px solid black; 
  padding:10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imgDetalle{
  height: 300px;
  width: 300px;
  margin: 15px;
  display: flex;
}
.imgMain{
  height: 100px;
  width: 200px;
  margin: 15px;
  display: flex;
}
